<html xmlns="http://www.w3.org/1999/xhtml" lang="fr" dir="ltr">

<head>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="google" value="notranslate">
    <style>
        body {
            padding: 50px;
            font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
        }

        .card-1 {
            padding: 10px 10px 10px 10px;
            box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
        }


        .bold {
            font-family: Helvetica;
            font-weight: bold;
        }

        .card {
            margin: 0 auto;
            /* Added */
            float: none;
            /* Added */
            margin-bottom: 10px;
            /* Added */
        }

        .blockquote {
            border-left-color: orange;
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <title> <%= title %> </title>

</head>

<body>
    <div class="container-fluid">

        <div class="container">
            <div class="row">
                <!--CARDS start here-->

                <div class="card-deck-wrapper">
                    <div class="card-deck">
                        <div class="card card-1">

                            <div class="card-block">
                                <h4 class="card-title"></h4>
                                <blockquote class="blockquote">
                                    <p class="card-text"> <%= message %> </p>
                                </blockquote>

                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>


    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>

</html>